<nz-layout class="layout">
  <nz-header>
    <div class="logo" (click)="gotoStart()">
      <img src="../../../assets/img/png/angular_logo.png" alt="Logo">
    </div>
    <div class="avatar" nz-dropdown [nzDropdownMenu]="menu">
      <img src="../../../assets/img/svg/profile_pic.svg" alt="User profile"/>
    </div>
    <nz-dropdown-menu #menu="nzDropdownMenu">
      <ul nz-menu class="dropdown-menu">
        <li nz-menu-item (click)="goToProfile()">Perfil</li>
        <li nz-menu-item (click)="changeTheme()">Mudar Tema</li>
        <li nz-menu-item nzDanger (click)="logout()">Sair</li>
      </ul>
    </nz-dropdown-menu>
  </nz-header>
  <nz-layout>
    <nz-sider nzWidth="230px" nzTheme="light">
      <ul nz-menu nzMode="inline" class="side-menu">
        <ng-container *ngFor="let item of navigationMenu">
          <ng-container *ngIf="item.open; else ClosedTemplate">
            <li class="menu-item" nz-submenu nzOpen nzIcon="{{'ct:'+item.icon}}" nzTitle="{{item.name}}">
              <ng-container [ngTemplateOutlet]="SubitemTemplate"></ng-container>
            </li>
          </ng-container>
          <ng-template #ClosedTemplate>
            <li class="menu-item" nz-submenu nzIcon="{{'ct:'+item.icon}}" nzTitle="{{item.name}}">
              <ng-container [ngTemplateOutlet]="SubitemTemplate"></ng-container>
            </li>
          </ng-template>
          <ng-template #SubitemTemplate>
            <ng-container *ngFor="let subitem of item.subItems;">
              <ul>
                <!--nzSelected-->
                <li nz-menu-item>{{ subitem.name }}</li>
              </ul>
            </ng-container>
          </ng-template>
        </ng-container>
      </ul>
    </nz-sider>
    <nz-layout class="inner-layout">
      <nz-breadcrumb>
        <nz-breadcrumb-item>Início</nz-breadcrumb-item>
        <nz-breadcrumb-item>Lista</nz-breadcrumb-item>
        <nz-breadcrumb-item>Aplicativo</nz-breadcrumb-item>
      </nz-breadcrumb>
      <nz-content>
        <div id="container">
          <router-outlet/>
        </div>
      </nz-content>
    </nz-layout>
  </nz-layout>
</nz-layout>
