<nz-layout class="layout">
  <nz-header>
    <div class="logo" (click)="gotoStart()">
      <img src="../../../assets/img/png/angular_logo.png" alt="Logo">
    </div>
    <div class="avatar" nz-dropdown [nzDropdownMenu]="menu">
      <img src="../../../assets/img/svg/profile_pic.svg" alt="User profile"/>
    </div>
    <nz-dropdown-menu #menu="nzDropdownMenu">
      <ul nz-menu class="dropdown-menu">
        <li nz-menu-item (click)="goToProfile()">Perfil</li>
        <li nz-menu-item (click)="changeTheme()">Mudar Tema</li>
        <li nz-menu-item nzDanger (click)="logout()">Sair</li>
      </ul>
    </nz-dropdown-menu>
  </nz-header>
  <nz-layout>
    <nz-sider nzWidth="230px" nzTheme="light" [nzCollapsedWidth]="60" [nzCollapsed]="isCollapsed">
      <ul nz-menu nzMode="inline" class="side-menu">
        <ng-container *ngFor="let item of navigationMenu">
          <ng-container *ngIf="item.subItems?.length; else OptionTemplate">
            <li class="menu-item" nz-submenu nzIcon="{{'ct:'+item.icon}}" nzTitle="{{item.name}}">
              <ng-container *ngFor="let subitem of item.subItems;">
                <ul>
                  <li nz-menu-item [nzSelected]="isSelected(subitem.route)"
                      (click)="onSelectionChange(subitem)">{{ subitem.name }}
                  </li>
                </ul>
              </ng-container>
            </li>
          </ng-container>
          <ng-template #OptionTemplate>
            <li nz-menu-item [nzSelected]="isSelected(item.route)" (click)="onSelectionChange(item)">
              <span class="option-icon" nz-icon nzType="{{'ct:'+item.icon}}"></span>
              <span>{{ item.name }}</span>
            </li>
          </ng-template>
        </ng-container>
      </ul>
    </nz-sider>
    <nz-layout class="inner-layout">
      <nz-breadcrumb>
        <nz-breadcrumb-item>Início</nz-breadcrumb-item>
        <ng-container *ngFor="let crumb of selectedBreadCrumb">
          <nz-breadcrumb-item>{{ crumb }}</nz-breadcrumb-item>
        </ng-container>
      </nz-breadcrumb>
      <nz-content>
        <div id="container">
          <router-outlet/>
        </div>
      </nz-content>
    </nz-layout>
  </nz-layout>
</nz-layout>
