// Override less variables to here
// View all variables: https://github.com/NG-ZORRO/ng-zorro-antd/blob/master/components/style/themes/default.less

@primary-color: #4474EE;

//LOGGED
nz-header {
  background-color: @primary-color !important;
}

nz-breadcrumb-item {
  font-weight: bold;
}

//LOGIN
.bg {
  animation: slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, @primary-color 50%, rgba(0, 0, 0, 0.45) 50%);
  bottom: 0;
  left: -50%;
  opacity: .5;
  position: fixed;
  right: -50%;
  top: 0;
  z-index: -1;
}

.bg2 {
  animation-direction: alternate-reverse;
  animation-duration: 4s;
}

.bg3 {
  animation-duration: 5s;
}

@keyframes slide {
  0% {
    transform: translateX(-25%);
  }
  100% {
    transform: translateX(25%);
  }
}

//NOT-FOUND
#notfound-area {
  width: 100%;
  height: 100vh;
}

#notfound-circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#notfound-circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(@primary-color, 0.5);
  animation: animate 25s linear infinite;
  bottom: -150px;

}

#notfound-circles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}


#notfound-circles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

#notfound-circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

#notfound-circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

#notfound-circles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

#notfound-circles li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

#notfound-circles li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

#notfound-circles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

#notfound-circles li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

#notfound-circles li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}


@keyframes animate {

  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }

  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }

}

// PRIVATE
.ant-menu-submenu-title span.anticon, .ant-menu-submenu-title span.anticon svg,
.ant-menu-item .ant-menu-title-content span.anticon, .ant-menu-item .ant-menu-title-content span.anticon svg {
  width: 22px;
  height: 22px;
}

.ant-menu-item .ant-menu-title-content {
  display: flex;
  align-items: center;
}

.ant-menu-submenu-title, .ant-menu-item {
  padding: 0 10px !important;
}


// TABLE
.ant-table-content > table > thead > tr > th {
  padding: 0.5rem 0.5rem 0.5rem 4px;
  border-top: 1px solid rgba(@border-color-base, 0.4);
  border-right: 1px solid rgba(@border-color-base, 0.4);
  border-bottom: 1px solid rgba(@border-color-base, 0.4);
}

.ant-table-content > table > thead > tr > #action-data-view {
  width: 73px;
}

.ant-table-content > table > tbody > tr > td {
  padding: 0 0 0 4px;
  border-right: 1px solid rgba(@border-color-base, 0.4);
  border-bottom: 1px solid rgba(@border-color-base, 0.4);
}

.ant-table-content > table > tbody > tr:nth-child(even) {
  background-color: lighten(rgba(@primary-color, 0.05), 20%);
}

.ant-table-content > table > tbody > tr:hover {
  background-color: lighten(rgba(@primary-color, 0.1), 20%);
  cursor: pointer;
}
