// For more information: https://ng.ant.design/docs/customize-theme/en
@import "../node_modules/ng-zorro-antd/ng-zorro-antd.less";
@import 'theme/styles/themes/theme-base';

@body-background: #FFFFFF;

//PRIVATE
#container {
  background-color: @body-background;
  position: relative;
  width: 100%;
  height: 100%;
}
